In [15]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor

# Simulação de série temporal
np.random.seed(42)
N = 1000
df = pd.DataFrame({'Y': np.random.randn(N).cumsum()})

# Indicador: média móvel
df['X1'] = df['Y'].rolling(window=3).mean().shift(1)

# Lags
df['Y_lag1'] = df['Y'].shift(1)
df['Y_lag2'] = df['Y'].shift(2)

df.dropna(inplace=True)

# Split em treino + último registro para previsão futura
train = df.iloc[:-1]
last_row = df.iloc[-1:]

X_train = train[['X1', 'Y_lag1', 'Y_lag2']]
y_train = train['Y']

# Treinamento
model = XGBRegressor()
model.fit(X_train, y_train)

df.head()
pd.concat([X_train, y_train], axis=1)

            X1     Y_lag1     Y_lag2          Y
3     0.620434   1.006138   0.358450   2.529168
4     1.297919   2.529168   1.006138   2.295015
5     1.943441   2.295015   2.529168   2.060878
6     2.295020   2.060878   2.295015   3.640091
7     2.665328   3.640091   2.060878   4.407525
..         ...        ...        ...        ...
994  18.711892  18.174843  18.856827  17.173223
995  18.068298  17.173223  18.174843  16.892123
996  17.413396  16.892123  17.173223  18.689809
997  17.585052  18.689809  16.892123  19.330652
998  18.304195  19.330652  18.689809  18.759473

[996 rows x 4 columns]

In [16]:
# Forecast 3 steps ahead (iterativo):
forecast_steps = 3
predictions = []

current_Y_lag1 = last_row['Y'].values[0]
current_Y_lag2 = last_row['Y_lag1'].values[0]
current_X1 = last_row['X1'].values[0]

for step in range(forecast_steps):
    # Monta X para próximo passo
    X_next = pd.DataFrame({
        'X1': [current_X1],
        'Y_lag1': [current_Y_lag1],
        'Y_lag2': [current_Y_lag2]
    })
    display(X_next)
    
    # Faz previsão
    y_pred = model.predict(X_next)[0]
    predictions.append(y_pred)
    
    # Atualiza lags para próxima iteração
    current_Y_lag2 = current_Y_lag1
    current_Y_lag1 = y_pred
    current_X1 = np.mean([y_pred, current_Y_lag1, current_Y_lag2])  # Exemplo simples de atualização de média móvel "na mão"

print(predictions)

          X1     Y_lag1     Y_lag2
0  18.926645  19.332056  18.759473

          X1   Y_lag1     Y_lag2
0  18.725618  18.4224  19.332056

          X1     Y_lag1   Y_lag2
0  19.543022  20.103334  18.4224

[18.4224, 20.103334, 20.534325]

In [6]:
import pandas as pd

df = pd.read_parquet(r"C:\Users\gabri\OneDrive\Documentos\Criptos\Analises\202507\dados_prices_metrics\DADOS_SIMULADOS_20241222a20250723_15m.parquet")
df[['Estrategia','Tempo_Simulacao']].sort_values(by=['Estrategia','Tempo_Simulacao'], ascending=True)

                            Estrategia  Tempo_Simulacao
3               Accelerator Oscillator         2.688914
14              Accelerator Oscillator         6.454490
25              Accelerator Oscillator        14.710827
36              Accelerator Oscillator        18.715839
4                          Force Index         0.989608
15                         Force Index         2.235313
26                         Force Index         5.663521
37                         Force Index         7.251822
2                                 MACD         1.224066
13                                MACD         3.069885
24                                MACD         5.826333
35                                MACD         8.446600
1                                  RSI         1.118255
12                                 RSI         3.666565
23                                 RSI         4.912885
34                                 RSI         7.151702
0                              UT BOTS         4.644552
11                             UT BOTS        19.507667
22                             UT BOTS        59.726985
33                             UT BOTS       134.482135
5                  Ultimate Oscillator         4.501481
16                 Ultimate Oscillator        17.844500
27                 Ultimate Oscillator        50.758878
38                 Ultimate Oscillator       104.240333
6                                VIDYA         5.172857
17                               VIDYA        18.522437
28                               VIDYA        69.219125
39                               VIDYA       123.218913
7   Volume Weighted Average Price VWAP         1.613223
18  Volume Weighted Average Price VWAP         4.223337
29  Volume Weighted Average Price VWAP         8.444821
40  Volume Weighted Average Price VWAP        11.338878
9                                  WMA         4.322620
20                                 WMA        12.040431
31                                 WMA        42.177426
42                                 WMA        84.715434
8                   Williams Alligator         1.482657
19                  Williams Alligator         4.976723
30                  Williams Alligator         6.587170
41                  Williams Alligator        12.825125
10             Zero Lag Moving Average         1.060617
21             Zero Lag Moving Average         2.149785
32             Zero Lag Moving Average         4.469196
43             Zero Lag Moving Average         7.466053