In [ ]:
# Instale a biblioteca se ainda não a tiver:
# pip install python-binance

from binance.client import Client
import pandas as pd

# Se necessário, insira suas credenciais (algumas funções podem ser acessadas sem chave, mas é recomendável utilizar a API key para evitar limitações)
api_key = 'SUA_API_KEY'
api_secret = 'SEU_API_SECRET'
client = Client(api_key, api_secret)

def carregando_dados_historicos(moeda, interval, start_str):
    # Obtenha os dados históricos de SOL/USDT
    klines = client.get_historical_klines(moeda, interval, start_str, end_str)

    # Converta os dados para um DataFrame do pandas e nomeie as colunas
    df = pd.DataFrame(klines, columns=[
        'open_time', 'open', 'high', 'low', 'close', 'volume'
    ])

    # Converta os timestamps de milissegundos para datetime
    df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')
    df['close_time'] = pd.to_datetime(df['close_time'], unit='ms')

    # Converta as colunas de valores para numéricas
    for col in ['open', 'high', 'low', 'close', 'volume']:
        df[col] = pd.to_numeric(df[col])

    return df

carregando_dados_historicos("SOLUSDT", Client.KLINE_INTERVAL_30MINUTE,
                            "2024-01-01", "2024-12-31")

(17521, 12)
Index(['open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time',
       'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume', 'ignore'],
      dtype='object')

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2024-01-01 00:00:00,101.72,102.79,101.56,102.07,127086.65,2024-01-01 00:29:59.999,12990356.38730000,18341,67927.45000000,6943292.75650000,0
1,2024-01-01 00:30:00,102.05,102.50,101.63,101.96,69594.28,2024-01-01 00:59:59.999,7102629.18050000,9115,41767.50000000,4263130.21400000,0
2,2024-01-01 01:00:00,101.96,102.56,101.51,102.38,80512.63,2024-01-01 01:29:59.999,8218738.21130000,9520,42598.80000000,4350833.14500000,0
3,2024-01-01 01:30:00,102.38,104.75,102.38,104.12,161582.70,2024-01-01 01:59:59.999,16804604.27530000,21544,90079.75000000,9364211.96820000,0
4,2024-01-01 02:00:00,104.11,104.21,103.22,103.59,66037.45,2024-01-01 02:29:59.999,6840319.51360000,8602,32645.95000000,3380822.83680000,0

In [6]:
texto = 'frase teste'
texto2 = 'num'
print(texto + "=" + texto2)

frase teste=num

In [5]:
texto.center(30, '=')

'=========frase teste=========='

In [7]:
texto = 'frase teste'
texto2 = 'num'
largura_total = 50

# Calcula quantos "=" são necessários
tam_textos = len(texto) + len(texto2) + 1  # Soma os tamanhos e o "=" entre eles
qtd_igual = largura_total - tam_textos  # Quantidade de "=" restantes

# Garante que os "=" fiquem distribuídos entre as frases
preenchimento = "=" * qtd_igual

# Formata a string final
resultado = texto + preenchimento + "=" + texto2
print(resultado)

frase teste====================================num

In [ ]:
def frase_dict(texto, texto2, largura_total=20):
    # Calcula quantos "=" são necessários
    tam_textos = len(str(texto)) + len(str(texto2)) + 1  # Soma os tamanhos e o "=" entre eles
    qtd_igual = largura_total - tam_textos  # Quantidade de "=" restantes

    # Garante que os "=" fiquem distribuídos entre as frases
    preenchimento = "=" * qtd_igual

    # Formata a string final
    resultado = str(texto) + " " + preenchimento + "=" + " " + str(texto2)
    return resultado

frase_dict('XRP', 8)

'XRP =========== 8'